* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

body {
  background: hsl(233, 47%, 7%);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container {
  background: hsl(244, 38%, 16%);
}

h1 {
  color: hsl(0, 0%, 100%);
}

p {
  color: hsla(0, 0%, 100%, 0.75);
}

.highlight {
  color: hsl(277, 64%, 61%);
}